{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
  ],
  "parser": "@typescript-eslint/parser", //"babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "jsx-a11y/label-has-associated-control": "off",
    "no-param-reassign": 1,
    "react/destructuring-assignment": 1,
    "no-underscore-dangle": 1,
    "react/prop-types": 1,
    "import/prefer-default-export": 1,
    "import/no-extraneous-dependencies": 1,
    "import/no-unresolved": 1,
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}